{% extends "weather/base.html" %}
{% block content%}
<form method="post" action="{% url "weather" %}">
    {% csrf_token %}
    <div >
        <label> Enter City: </label>
        <input type="text" name="city" placeholder="Enter City">
        <div >
              <button type="submit">
                Submit
              </button>
        </div>
    </div>
<form>
<br/>
{% if weather_data %}
    <div>
        <table>
            <tr>
                <td>Country: </td>
                <td>{{ weather_data.country_code }}</td>
            </tr>
            <tr>
                <td>Coordinate: </td>
                <td>{{ weather_data.coordinate }}</td>
            </tr>
            <tr>
                <td>Temperature: </td>
                <td>{{ weather_data.temp }}</td>
            </tr>
            <tr>
                <td>Pressure: </td>
                <td>{{ weather_data.pressure }}</td>
            </tr>
            <tr>
                <td>Humidity: </td>
                <td>{{ weather_data.humidity }}</td>
            </tr>
        </table>

    </div>
{% endif %}
{% if msg%}
    {{ msg }}
{% endif %}

{% endblock %}
